/* Navigation */

/* Header */

.album {
  text-align: center;
  background: #ededed;
  color: #333;
}

#album-cover-art {
  border-radius: 50%;
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px
  ;
}

/* Body */

/* Song List*/



/* Player Bar */
